//Width standard
$width-device: 'min-width';

// Portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 
$tablet : 40.063em;

//Big landscape tablets, laptops, and desktops
$desktop : 64.063em;

//Hi-res laptops and desktops
$hi-res : 80.063em;