@import '_mediabreakpoints';

$arrow_top: 50%;
$font_size: 35px;
$arrow_margin_top: $font-size / 2 * -1;

#controls{
	position: relative;

	.controls_content{
		display: block;
		position: relative;

		&.next{
			margin-left: -6%;

			.icon{
				right: 0;
			}
		}

		&.previous{
			margin-right: -6%;

			.icon{
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
				margin-top: -21px;
			}

			.data{
				margin-left: 15%;
				border-top: 1px solid;
			}
		}

		&.previous.unactive{
			display: none;
		}

		div{
			display: inline-block;

			&.data{
				width: 85%;	
				padding: 1em;

				.controls_title{
					text-transform: uppercase;
				    font-size: 12px;
    				letter-spacing: 2px;
				}

				.controls_video_title{
				    margin-top: 5px;
    				font-weight: 600;
    				font-size: 18px;
				}

				h5#author{
					padding-top: 7px;
					padding-bottom: 3px; 
					font-weight: 400;
				}

				img{
					display: none;
				}
			}

			&.icon{
				position: absolute;
				font-size: $font-size;
				top: $arrow_top;
				margin-top: $arrow_margin_top;
			}
		}
	}

	@media ($width-device : $tablet) {
		.controls_content{
			display: inline-block;
			width: 50%;
			vertical-align: top;
			position: absolute;
			top: 0;

			&.next{
				right: 0;
				margin: 0;
				border: 0;
			}

			&.previous{
				left: 0;
				margin: 0;
				border: 0;

				.data{
					margin: 0;
					border: 0;
					border-right: 1px solid;
				}
			}

			div.data{
				width: 100%;
				position: relative;

				img{
					display: block;
					float: right;
					margin-top: 15px;
					margin-right: -15px;
					margin-bottom: -15px;
				}
			}

			.icon{
				display: none;
			}
		}
	}

	@media ($width-device : $desktop-big) {
		.controls_content{
			width: 13%;
			top: 50vh;
			opacity: 0.3;
			-webkit-transform:translateY(-50%) ;
			-moz-transform:translateY(-50%) ;
			-ms-transform:translateY(-50%) ;
			-o-transform:translateY(-50%) ;
			transform:translateY(-50%) ;
			-webkit-transition: opacity 0.2s ease-in;
			-moz-transition: opacity 0.2s ease-in;
			-ms-transition: opacity 0.2s ease-in;
			-o-transition: opacity 0.2s ease-in;
			transition: opacity 0.2s ease-in;
		
			&:hover{
				opacity: 1;
			}
		}

	}
}

@media ($width-device : $tablet) {
	#controls{
		min-height: 240px;
		margin-top: 8%;
		margin-bottom: 8%;
	}
}

@media ($width-device : $desktop-big) {
	#controls{
		position: absolute;
		margin: 0;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		max-height: 100%;
	}
}