$arrow_top: 50%;
$font_size: 35px;
$arrow_margin_top: $font-size / 2 * -1;

#controls{
	position: relative;

	.controls_content{
		display: block;
		position: relative;

		&.next{
			margin-left: -6%;

			.icon{
				right: 0;
			}
		}

		&.previous{
			margin-right: -6%;

			.icon{
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
				margin-top: -21px;
			}

			.data{
				margin-left: 15%;
			}
		}

		div{
			display: inline-block;

			&.data{
				width: 85%;	
				padding: 1em;

				.controls_title{
					text-transform: uppercase;
				    font-size: 12px;
    				letter-spacing: 2px;
				}

				.controls_video_title{
				    margin-top: 5px;
    				font-weight: 600;
    				font-size: 18px;
				}

				h5#author{
					padding-top: 7px;
					padding-bottom: 3px; 
					font-weight: 400;
				}

				img{
					display: none;
				}
			}

			&.icon{
				position: absolute;
				font-size: $font-size;
				top: $arrow_top;
				margin-top: $arrow_margin_top;
			}
		}
	}
}