@import '_mediabreakpoints';

$blue: #41e1d0;
$orange: #ff8d50;
$pink: #ff1591;

#discover_more{

	width: 100%;
	display: block;
	text-align: center;
	margin: 4em 0em 1em 0em;
	position: relative;
	
	.arrow{
		min-height: 20px;

		&:before{
			font-size: 1.9em;
			-webkit-transform: translateY(-150%);
			-moz-transform: translatY(-150%);
			-ms-transform: translateY(-150%);
			-o-transform: translateY(-150%);
			transform: translateY(-150%);
			display: block;
			opacity: 0;
			animation: arrow 1.2s linear;
			animation-iteration-count: infinite;
		}
	}

	h5{
		color: #979797
	}
}

@media ($width-device : $tablet) {
	#discover_more{
		display: none;
	}		
}

@keyframes arrow{
	0%{
		opacity: 0;
		color: $orange;
	}
	20%{
		opacity: 1
	}

	45%{
		color: $pink
	}
	75%{
		color: $blue;
	}
	95%{
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(-000%);
		-moz-transform: translatY(-000%);
		-ms-transform: translateY(-000%);
		-o-transform: translateY(-000%);
		transform: translateY(-000%);
	}
}